@import "./markers.scss";

.lcd{
    font-family: "LCD";
}

.source-code {
    font-family: source-code-pro, Courier New;
}

.output, .output-bg {
    background-color: #DFDFDF;
}

.output {
    width: 1em;
    margin-right: 1px;
    margin-bottom: 1px;
    text-align: center;
}

.instr-bg {
    background-color: #E6F3FF;
}

.instr-bg a {
    color: inherit;
    cursor: pointer;
}

.stack-bg {
    background-color: #F8DCB4;
}

.memory-block {
    width: 1.8em;
    display: inline-block;
    text-align: center;
}

.codelabel-line a {
    cursor: pointer;
}